
<div class="row g-3 m-lg-5 d-flex justify-content-center">
    <div class="row g-2 justify-content-end w-10">
        
        <div class="card w-auto" *ngFor="let item of questions">
            <div class="card-header">
                {{item.title}}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer">{{item.body}}</footer>
              </blockquote>
            </div>
          </div>
        </div>
        </div>